<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Luyện Thi Cấp Tốc</title>
	<link href="{{asset('css/bootstrap.min.css')}}" rel="stylesheet" type="text/css">
<script type="text/javascript" src="{{asset('js/jquery/1.10.1/jquery.min.js')}}"></script>
<script type="text/javascript" src="{{asset('js/bootstrap.min.js')}}"></script>

<link href="{{asset('css/fontawesome/css/all.css')}}" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="{{asset('css/lichsubaithi.css')}}" rel="stylesheet" type="text/css">
</head>
<body>
	<div class="container-fluid">
		<div class="scroll">
			<p class="up" onclick="scrollup()"><i class="fas fa-angle-double-up"></i></p>
			<p class="down" onclick="scrolldown()"><i class="fas fa-angle-double-down"></i></p>
		</div>
		
	
</body>
</html>
