.container-fluid{
	background-image: url(../imgs/anhbiadep.png);
	/*background-image: url(../imgs/banner/bg-feedback-student.jpg);*/
	
	font-family: 'Roboto Slab', serif;
}


.main_lichsu{
	text-align: center;
}
.header_lichsu p{
	margin-top: 50px;
	color: #08038C;
	font-size: 29px;
}
.information{
	font-size: 20px;
	margin-bottom: 30px;

}
.tenky{
	
}

.option input:checked .option{
	 		background: #08038C;
	 		color: #000;
	 	}
.content1 p{
			display: inline;
		}

#question{
	padding: 20px;
	font-size: 22px;
	background-color: #08038C;
	border-radius: 20px;
	margin: 10px 0 10px 0;
	color: #f6f6f6;
	text-align: left;
}

.option{
	width: 100%;
	/*display: inline-block;*/
	padding: 10px 10px 10px 10px;
	/*vertical-align: middle;*/
	background: rgba(186, 216, 212, 0.3);
	margin: 10px 10px 10px 10px;
	color: #000000;
	border-radius: 20px;
	text-align: left;
}
.option .fa-check{
	color: blue;
	margin-right: 10px;
}
/*.content1{*/
	/**/
	/*margin-bottom: 50px;*/
/*}*/

.scroll{
	float: right;
	margin-top: 720px;
	position: fixed;
	margin-left: 1310px;
}
.scroll p{
	display: inline;
	margin-right: 20px;
	background: #ffb606;

	
}
.up{
	padding: 15px;
	cursor: pointer;
}
.down{
	cursor: pointer;
	padding: 15px ;
}
.down i{
	margin-right: 15px;
}
.bg-green{
	background-color: #0baf36;
}
.main_lichsu table th, .main_lichsu table td {
    text-align: center !important;
}
.main_lichsu .datatable{
    overflow-x: scroll;
}
.main_lichsu table th{
    white-space: nowrap;
}
.pagination{
    margin: 0 !important;
}